@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Inter:500&display=swap&subset=cyrillic-ext);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #9ca3af;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__body {
  z-index: 1;
  padding: 35px 0 137px;
}

.header__top-row {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 86px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0px 35px 60px -15px rgba(6, 25, 56, 0.25);
          box-shadow: 0px 35px 60px -15px rgba(6, 25, 56, 0.25);
  border-radius: 10px;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn--add {
  background: #ffffff;
}

.header__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #f3f4f6;
  margin-bottom: 22px;
}

.header__subtitle {
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #f3f4f6;
  text-align: center;
}

.header__tags-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 68px;
}

.search__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 636px;
  height: 60px;
  background: #f3f4f6;
  border: 1px solid #f9fafb;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
          box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
  border-radius: 10px;
  padding: 17px 20px;
  margin-right: 20px;
}

.search__input input {
  height: 24px;
  padding-left: 34px;
  padding-right: 30px;
  background-color: transparent;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #9ca3af;
  width: 100%;
}

.search__input input::-webkit-input-placeholder {
  color: #9ca3af;
}

.search__input input::-moz-placeholder {
  color: #9ca3af;
}

.search__input input:-ms-input-placeholder {
  color: #9ca3af;
}

.search__input input::-ms-input-placeholder {
  color: #9ca3af;
}

.search__input input::placeholder {
  color: #9ca3af;
}

.search__input--name {
  background: #f3f4f6 url("../img/icons/Search.svg") 0 center no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.search__input--city {
  background: #f3f4f6 url("../img/icons/Pin.svg") 0 center no-repeat;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 208px;
          flex: 0 0 208px;
}

.search__input--city::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background: url("../img/icons/arrow-down.svg") center no-repeat;
}

.search__input--city__input {
  padding-right: 34px;
}

.search__button {
  background: -o-linear-gradient(291.47deg, #03c3ff 14.08%, #0157fd 85.85%);
  background: linear-gradient(158.53deg, #03c3ff 14.08%, #0157fd 85.85%);
  border-radius: 10px;
  width: 191px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.logo {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  color: #f0fcff;
  white-space: nowrap;
}

.logo span {
  font-size: 36px;
  font-weight: 800;
  color: #538cfb;
}

.tag {
  font-size: 14px;
  line-height: 23px;
  color: #d1d5db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.4px;
  background: rgba(249, 250, 251, 0.2);
  border: 1px solid rgba(229, 231, 235, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  padding: 6px 10px;
  margin: 0 10px 10px 0;
}

.tag-more {
  height: 38px;
  cursor: pointer;
  width: 40px;
  padding: 0;
  background: rgba(249, 250, 251, 0.2) url("../img/icons/arrow-down-w.svg") center 15px no-repeat;
}

.header__body--short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  max-width: 1440px;
  padding: 58px 24px 141px 85px;
  margin: 0 auto;
}

.header__body--short .header__logo {
  margin-right: 100px;
}

.header__body--short .header__buttons {
  margin-right: 23px;
}

.header__body--short .search {
  margin-right: 18px;
  margin-bottom: 0;
}

.image__bg {
  z-index: -1;
  width: 1440px;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
}

.image__bg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 bottom;
     object-position: 0 bottom;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 55px rgba(0, 34, 155, 0.63));
          filter: drop-shadow(0px 4px 55px rgba(0, 34, 155, 0.63));
}

.list {
  padding: 40px 15px 50px;
}

.list__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__count-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.04em;
}

.list__count span {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.list__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.list__sort-view-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  padding: 5px 3px 5px;
  background: rgba(233, 239, 244, 0.48);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list__sort-view {
  margin: 0 3px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__sort-view.active {
  background: #fff;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
}

.list__sort-time-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background: rgba(233, 239, 244, 0.48);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list__sort-time {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #989898;
  opacity: 0.45;
  height: 34px;
  cursor: pointer;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1px;
  padding: 0 14px;
}

.list__sort-time.active {
  color: #374151;
  opacity: 1;
  background: #fff;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
}

.list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list__content .card:not(:last-child) {
  margin-bottom: 24px;
}

.card {
  background: #ffffff;
  border: 1px solid #f3f4f6;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
          box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.card__photo {
  width: 220px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  height: 170px;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  margin: 10px 34px 10px 10px;
}

.card__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__up-row {
  margin: 20px 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #374151;
  margin-bottom: 15px;
}

.card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__tag {
  font-size: 14px;
  line-height: 23px;
  color: #9ca3af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 10px;
  margin: 0 10px 10px 0;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 40px;
}

.card__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #374151;
  width: 180px;
  text-align: right;
  padding-right: 28px;
  margin-left: 50px;
}

.card__select-star {
  position: absolute;
  bottom: 31px;
  right: 26px;
}

.card__city-time-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
}

.card__city {
  padding-left: 26px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  position: relative;
  margin-right: 20px;
}

.card__city::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icons/Pin.svg") 0 2px/18px no-repeat;
}

.card__time {
  padding-left: 26px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  position: relative;
}

.card__time::first-letter {
  text-transform: uppercase;
}

.card__time::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icons/clock.svg") 0 2px/18px no-repeat;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 52px;
}

.pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7px;
  width: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 60px;
}

.pagination__nav path {
  fill: #9ca3af;
}

.pagination__nav.active {
  background: #f0fcff;
  border: 1px solid #dcf7fe;
  border-radius: 75px;
}

.pagination__nav.active path {
  fill: #3050a3;
}

.pagination__nav--forward {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__number {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #9ca3af;
}

.pagination__number.active {
  background: -o-linear-gradient(290.92deg, #2c5edf 0%, #3328b5 100%);
  background: linear-gradient(159.08deg, #2c5edf 0%, #3328b5 100%);
  border-radius: 10px;
  color: #fff;
}

.pagination__more div {
  background: #3050a3;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin: 0 2px;
}

.breadcrumbs {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #9ca3af;
  margin-top: 50px;
  margin-bottom: 44px;
}

.breadcrumbs a {
  color: #9ca3af;
}

.products__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.4px;
  color: #374151;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
  padding-bottom: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-mini {
  width: 280px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
  margin: 0 10px 24px;
  background: #ffffff;
  border: 1px solid #f3f4f6;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
          box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
  border-radius: 10px;
}

.card-mini__photo {
  width: 261px;
  height: 164px;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  margin: 9px;
}

.card-mini__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card-mini__body {
  padding: 0 16px 0 24px;
}

.card-mini__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #374151;
  margin-bottom: 10px;
}

.card-mini__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-mini__price-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.card-mini__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #374151;
}

.card-mini__city-time-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}

.product {
  padding-bottom: 56px;
}

.product__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.4px;
  color: #374151;
  text-align: center;
  margin-bottom: 30px;
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__name {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 12px;
  letter-spacing: 0.4px;
  color: #374151;
}

.product__avaible-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.product__avaible {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #05abd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__avaible span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 6px;
}

.product__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__about-list {
  margin-bottom: 22px;
}

.product__about-text {
  font-size: 14px;
  line-height: 23px;
  /* or 164% */
  letter-spacing: 0.4px;
  color: #6b7280;
  padding-left: 18px;
  margin-bottom: 2px;
  position: relative;
}

.product__about-text::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #e5e7eb;
}

.product__info {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #6b7280;
}

.col-l {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 680px;
          flex: 0 0 680px;
  padding-right: 67px;
}

.col-r {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
}

.col-r__articul {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #9ca3af;
  margin-bottom: 12px;
}

.col-r__seller-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.col-r__seller-name {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #05abd6;
  padding-left: 26px;
  position: relative;
}

.col-r__seller-name::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icons/Icon_User.svg") 0 0 no-repeat;
}

.col-r__city-time-wraper {
  color: #374151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.col-r__time span {
  position: relative;
  top: 3px;
}

.col-r__city {
  margin-right: 20px;
}

.col-r__city span {
  position: relative;
  top: 3px;
}

.col-r__price {
  color: #374151;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 30px;
}

.col-r__price span {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}

.col-r__btn {
  font-size: 20px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 455px;
  height: 60px;
  text-align: center;
  letter-spacing: 0.4px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 10px;
}

.col-r__btn-buy {
  background: -o-linear-gradient(291.47deg, #03c3ff 14.08%, #0157fd 85.85%);
  background: linear-gradient(158.53deg, #03c3ff 14.08%, #0157fd 85.85%);
}

.col-r__btn-write {
  background: #374151;
}

.col-r__ban {
  font-size: 20px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 44px;
  color: #1f2937;
  text-align: center;
  letter-spacing: 0.4px;
  cursor: pointer;
  margin-top: 16px;
}

.col-r__map {
  width: 100%;
  height: 480px;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
          box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
  position: relative;
}

.col-r__map img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate__star {
  width: 20px;
  height: 20px;
  background: url("../img/icons/star-.svg") 0 0 no-repeat;
}

.rate__star.active {
  background: url("../img/icons/star+.svg") 0 0 no-repeat;
}

.slider {
  width: 680px;
}

.slider__body {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 12px;
  -webkit-box-shadow: 0px 6px 10px 1px rgba(6, 25, 56, 0.07);
          box-shadow: 0px 6px 10px 1px rgba(6, 25, 56, 0.07);
  border-radius: 10px;
}

.slider__row-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: relative;
  -webkit-transition: all 0.7s ease-out 0s;
  -o-transition: all 0.7s ease-out 0s;
  transition: all 0.7s ease-out 0s;
  height: 450px;
}

.slider__photo {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 450px;
  position: relative;
}

.slider__photo img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.slider__thumb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.slider__thumb-wrap div:not(:last-child) {
  margin-right: 10px;
}

.slider__thumb {
  border: 1px solid #e5e7eb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  width: 80px;
  height: 60px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.slider__thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.slider__nav {
  position: absolute;
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
          box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
  background: url("../img/icons/") 0 0 no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.slider__nav-left {
  left: 10px;
}

.slider__nav-right {
  right: 10px;
}

.slider__nav-right svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__status-wrap {
  position: absolute;
  bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: calc(50% - 43px);
}

.slider__status {
  background: -o-linear-gradient(291.47deg, #03c3ff 14.08%, #0157fd 85.85%);
  background: linear-gradient(158.53deg, #03c3ff 14.08%, #0157fd 85.85%);
  -webkit-box-shadow: 0px 25px 50px -12px rgba(6, 25, 56, 0.25);
          box-shadow: 0px 25px 50px -12px rgba(6, 25, 56, 0.25);
  border-radius: 20px;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  -webkit-transition: all 0.7s ease-out 0s;
  -o-transition: all 0.7s ease-out 0s;
  transition: all 0.7s ease-out 0s;
}

.slider__status.active {
  width: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}

.svg-icon {
  margin-right: 6px;
  position: relative;
  top: 2px;
}

.seller__body {
  margin-bottom: 94px;
}

.seller__about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 17px;
}

.seller__photo {
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 150px;
  position: relative;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
          box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
  border-radius: 10px;
  overflow: hidden;
  margin-right: 31px;
}

.seller__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.seller__about {
  width: 100%;
}

.seller__seller-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

.seller__seller-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #05abd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -3px;
}

.seller__company-name {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.4px;
  color: #374151;
  margin-bottom: 6px;
}

.seller__adress {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #9ca3af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

.seller__site {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #05abd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller__activity-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.seller__activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #9ca3af;
}

.seller__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 43px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.seller__info {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #6b7280;
}

.card__tag-more {
  height: 38px;
  cursor: pointer;
  width: 40px;
  padding: 0;
  border: 1px solid #e5e7eb;
  border-radius: 40px;
  background: #f9fafb url("../img/icons/arrow-down.svg") center 15px no-repeat;
}

.footer {
  position: relative;
  padding: 88px 0 45px;
}

.footer__nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 37px;
  position: relative;
}

.footer__nav-row::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f3f4f6;
  opacity: 0.15;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #f3f4f6;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-left: 24px;
}

.footer__copy-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3f4f6;
  font-size: 14px;
  line-height: 23px;
  padding-top: 30px;
  letter-spacing: 0.4px;
}

.footer__policy-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__policy-link {
  display: inline-block;
  margin-left: 32px;
  color: #f3f4f6;
  letter-spacing: 0.4px;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1500px) {
  .header__top-row {
    padding: 0 18px;
  }

  .header__body--short {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-container {
    max-width: 100%;
  }

  .header__body--short .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__body--short .header__buttons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }

  .header__body--short .search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-right: 0;
    margin-top: 35px;
    margin-bottom: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-container {
    max-width: 100%;
  }
}

@media (max-width: 1440px) {
  .image__bg {
    max-width: 100%;
    left: 0;
  }

  .image__bg img {
    -o-object-position: center bottom;
       object-position: center bottom;
  }
}

@media (max-width: 1192px) {
  .container {
    max-width: 970px;
  }

  .product__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 700px;
    padding: 0 10px;
  }

  .col-l {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .col-r {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    margin-right: 10px;
  }

  .col-r__tablet-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider__thumb {
    width: 55px;
    height: 40px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .header-container {
    padding: 40px 20px 60px;
  }

  .header__body--short .header__logo {
    margin-right: 0;
  }

  .header__body--short .search__input-wrap {
    margin-bottom: 20px;
  }

  .list__head {
    padding-bottom: 20px;
  }

  .list__count-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card {
    padding-right: 10px;
  }

  .card__up-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card__price-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0 15px;
  }

  .card__price {
    text-align: left;
    padding-left: 3px;
    padding-right: 0;
    margin-left: 0;
  }

  .footer__policy-link {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .header__body {
    padding: 35px 15px 105px;
  }

  .header__btn {
    width: 35px;
    height: 35px;
    margin-left: 6px;
  }

  .header__btn img {
    width: 18px;
    height: 18px;
  }

  .header__title {
    padding: 0 20px;
  }

  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }

  .search__input-wrap {
    margin-right: 0;
    width: 400px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    background: none;
    border: none;
  }

  .search__input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3f4f6;
    border: 1px solid #f9fafb;
    -webkit-box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
            box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
  }

  .search__input input {
    padding-left: 44px;
    padding-right: 40px;
  }

  .search__input--name {
    background: #f3f4f6 url("../img/icons/Search.svg") 10px center no-repeat;
  }

  .search__input--city {
    background: #f3f4f6 url("../img/icons/Pin.svg") 10px center no-repeat;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }

  .search__input--city::after {
    height: 100%;
    right: 10px;
  }

  .search__button {
    height: 50px;
  }

  .header-container {
    padding: 40px 10px 60px;
  }

  .list__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .list__count-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
  }

  .list__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 470px;
    padding-right: 0;
  }

  .card__photo {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .card__body {
    padding: 0 20px;
  }

  .card__price-wraper {
    margin: 10px 0 15px;
  }

  .card__select-star {
    bottom: 25px;
  }

  .pagination__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }

  .pagination__number {
    font-size: 20px;
  }

  .breadcrumbs {
    margin-top: 30px;
    margin-left: 30px;
  }

  .products__title {
    text-align: center;
  }

  .product__body {
    width: 100%;
  }

  .rate {
    margin-right: 20px;
  }

  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider {
    width: 460px;
    margin: 0 auto;
  }

  .slider__row-photo {
    height: 350px;
  }

  .seller__about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .seller__photo {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
  }

  .footer {
    padding-bottom: 30px;
  }

  .footer__nav-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 25px;
  }

  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__link {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .footer__copy-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__rights {
    margin-bottom: 10px;
  }

  .footer__policy-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__policy-link {
    margin-bottom: 10px;
  }

  .footer-container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .header__body {
    padding: 35px 6px 105px;
  }

  .header__top-row {
    padding: 0 5px;
  }

  .header__title {
    padding: 0;
    font-size: 25px;
  }

  .search__input-wrap {
    width: 300px;
  }

  .list__head {
    padding: 40px 5px 20px;
  }

  .list__count-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .list__sort-view-wrap {
    margin-right: 7px;
  }

  .list__sort-time {
    padding: 0 7px;
  }

  .card {
    width: calc(100% - 12px);
    padding: 0 10px;
  }

  .card__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 190px;
            flex: 0 0 190px;
    width: 100%;
    margin: 0px;
  }

  .card__body {
    padding: 0;
  }

  .card__name {
    font-size: 18px;
  }

  .card__select-star {
    position: relative;
    bottom: -5px;
    right: 0;
  }

  .no-mobile {
    display: none;
  }

  .products__list {
    margin: 0;
  }

  .card-mini {
    width: calc(100% - 30px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 30px);
            flex: 0 0 calc(100% - 30px);
    margin: 0 0 24px;
    background-color: pink;
  }

  .card-mini__photo {
    width: calc(100% - 20px);
    margin: 10px 10px 20px;
    height: 190px;
  }

  .card-mini__body {
    padding: 0 10px;
  }

  .card-mini__name {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .card-mini__tags {
    margin-bottom: 10px;
  }

  .card-mini__price-wraper {
    margin-bottom: 15px;
  }

  .col-r__btn {
    width: 100%;
  }

  .col-r__map {
    height: 250px;
  }

  .slider {
    width: 310px;
  }

  .slider__row-photo {
    height: 200px;
  }

  .slider__nav {
    width: 45px;
    height: 45px;
  }

  .seller__photo {
    height: 280px;
  }
}